@inject FoglioPresenzaDettaglioGiornoService _foglioPresenzaDettaglioGiornoService

@if (this.LstDettagli.Any())
{
    @foreach (var dettaglio in LstDettagli)
    {
        <span class="w-100 calendar-grid-day-vpa @GetVpaColor(dettaglio) text-left m2t">

            <span class="align-middle">
                @dettaglio.Vpa.Sigla @($"{dettaglio.Ore.ToString("00")}:{dettaglio.Minuti.ToString("00")}")
            </span>

            <button type="button" class="close" aria-label="Close" style="font-size: 1.2rem;" @onclick="() => DeleteDettaglioGiorno(dettaglio)">
                <span aria-hidden="true">&times;</span>
            </button>
        </span>
    }

    <button type="button" class="w-100 addBtn btn d-block m2t"><i class="fas fa-plus"></i></button>
}


@code {

    [Parameter]
    public List<FoglioPresenzaGiornoDettaglioDto> LstDettagli { get; set; }

    protected string GetVpaColor(FoglioPresenzaGiornoDettaglioDto dettaglio)
    {
        var color = "green";

        switch (dettaglio.Vpa.Sigla)
        {
            case "FE":
                color = "orange";
                break;
        }

        return $"calendar-grid-day-vpa-{color}";
    }

    protected async Task DeleteDettaglioGiorno(FoglioPresenzaGiornoDettaglioDto dettaglio)
    {
        await this._foglioPresenzaDettaglioGiornoService.Delete(dettaglio.Id);
    }

}
